.col-xxl, .col-xxl-auto, .col-xxl-12, .col-xxl-11, .col-xxl-10, .col-xxl-9, .col-xxl-8, .col-xxl-7, .col-xxl-6, .col-xxl-5, .col-xxl-4, .col-xxl-3, .col-xxl-2, .col-xxl-1 {
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px; }

@media (min-width: 1440px) {
  .col-xxl {
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%; }
  .col-xxl-auto {
    flex: 0 0 auto;
    width: auto;
    max-width: 100%; }
  .col-xxl-1 {
    flex: 0 0 8.3333333333%;
    max-width: 8.3333333333%; }
  .col-xxl-2 {
    flex: 0 0 16.6666666667%;
    max-width: 16.6666666667%; }
  .col-xxl-3 {
    flex: 0 0 25%;
    max-width: 25%; }
  .col-xxl-4 {
    flex: 0 0 33.3333333333%;
    max-width: 33.3333333333%; }
  .col-xxl-5 {
    flex: 0 0 41.6666666667%;
    max-width: 41.6666666667%; }
  .col-xxl-6 {
    flex: 0 0 50%;
    max-width: 50%; }
  .col-xxl-7 {
    flex: 0 0 58.3333333333%;
    max-width: 58.3333333333%; }
  .col-xxl-8 {
    flex: 0 0 66.6666666667%;
    max-width: 66.6666666667%; }
  .col-xxl-9 {
    flex: 0 0 75%;
    max-width: 75%; }
  .col-xxl-10 {
    flex: 0 0 83.3333333333%;
    max-width: 83.3333333333%; }
  .col-xxl-11 {
    flex: 0 0 91.6666666667%;
    max-width: 91.6666666667%; }
  .col-xxl-12 {
    flex: 0 0 100%;
    max-width: 100%; }
  .order-xxl-first {
    order: -1; }
  .order-xxl-last {
    order: 13; }
  .order-xxl-0 {
    order: 0; }
  .order-xxl-1 {
    order: 1; }
  .order-xxl-2 {
    order: 2; }
  .order-xxl-3 {
    order: 3; }
  .order-xxl-4 {
    order: 4; }
  .order-xxl-5 {
    order: 5; }
  .order-xxl-6 {
    order: 6; }
  .order-xxl-7 {
    order: 7; }
  .order-xxl-8 {
    order: 8; }
  .order-xxl-9 {
    order: 9; }
  .order-xxl-10 {
    order: 10; }
  .order-xxl-11 {
    order: 11; }
  .order-xxl-12 {
    order: 12; }
  .offset-xxl-0 {
    margin-left: 0; }
  .offset-xxl-1 {
    margin-left: 8.3333333333%; }
  .offset-xxl-2 {
    margin-left: 16.6666666667%; }
  .offset-xxl-3 {
    margin-left: 25%; }
  .offset-xxl-4 {
    margin-left: 33.3333333333%; }
  .offset-xxl-5 {
    margin-left: 41.6666666667%; }
  .offset-xxl-6 {
    margin-left: 50%; }
  .offset-xxl-7 {
    margin-left: 58.3333333333%; }
  .offset-xxl-8 {
    margin-left: 66.6666666667%; }
  .offset-xxl-9 {
    margin-left: 75%; }
  .offset-xxl-10 {
    margin-left: 83.3333333333%; }
  .offset-xxl-11 {
    margin-left: 91.6666666667%; } }

@media (max-width: 1399.98px) {
  .table-responsive-xxl {
    display: block;
    width: 100%;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch; }
  .table-responsive-xxl > .table-bordered {
    border: 0; } }

@media (min-width: 1440px) {
  .dropdown-menu-xxl-left {
    right: auto;
    left: 0; }
  .dropdown-menu-xxl-right {
    right: 0;
    left: auto; } }

@media (max-width: 1399.98px) {
  .navbar-expand-xxl > .container,
  .navbar-expand-xxl > .container-fluid {
    padding-right: 0;
    padding-left: 0; } }

@media (min-width: 1440px) {
  .navbar-expand-xxl {
    flex-flow: row nowrap;
    justify-content: flex-start; }
  .navbar-expand-xxl .navbar-nav {
    flex-direction: row; }
  .navbar-expand-xxl .navbar-nav .dropdown-menu {
    position: absolute; }
  .navbar-expand-xxl .navbar-nav .nav-link {
    padding-right: 0.5rem;
    padding-left: 0.5rem; }
  .navbar-expand-xxl > .container,
  .navbar-expand-xxl > .container-fluid {
    flex-wrap: nowrap; }
  .navbar-expand-xxl .navbar-collapse {
    display: flex !important;
    flex-basis: auto; }
  .navbar-expand-xxl .navbar-toggler {
    display: none; } }

@media (min-width: 1440px) {
  .d-xxl-none {
    display: none !important; }
  .d-xxl-inline {
    display: inline !important; }
  .d-xxl-inline-block {
    display: inline-block !important; }
  .d-xxl-block {
    display: block !important; }
  .d-xxl-table {
    display: table !important; }
  .d-xxl-table-row {
    display: table-row !important; }
  .d-xxl-table-cell {
    display: table-cell !important; }
  .d-xxl-flex {
    display: flex !important; }
  .d-xxl-inline-flex {
    display: inline-flex !important; } }

@media (min-width: 1440px) {
  .flex-xxl-row {
    flex-direction: row !important; }
  .flex-xxl-column {
    flex-direction: column !important; }
  .flex-xxl-row-reverse {
    flex-direction: row-reverse !important; }
  .flex-xxl-column-reverse {
    flex-direction: column-reverse !important; }
  .flex-xxl-wrap {
    flex-wrap: wrap !important; }
  .flex-xxl-nowrap {
    flex-wrap: nowrap !important; }
  .flex-xxl-wrap-reverse {
    flex-wrap: wrap-reverse !important; }
  .flex-xxl-fill {
    flex: 1 1 auto !important; }
  .flex-xxl-grow-0 {
    flex-grow: 0 !important; }
  .flex-xxl-grow-1 {
    flex-grow: 1 !important; }
  .flex-xxl-shrink-0 {
    flex-shrink: 0 !important; }
  .flex-xxl-shrink-1 {
    flex-shrink: 1 !important; }
  .justify-content-xxl-start {
    justify-content: flex-start !important; }
  .justify-content-xxl-end {
    justify-content: flex-end !important; }
  .justify-content-xxl-center {
    justify-content: center !important; }
  .justify-content-xxl-between {
    justify-content: space-between !important; }
  .justify-content-xxl-around {
    justify-content: space-around !important; }
  .align-items-xxl-start {
    align-items: flex-start !important; }
  .align-items-xxl-end {
    align-items: flex-end !important; }
  .align-items-xxl-center {
    align-items: center !important; }
  .align-items-xxl-baseline {
    align-items: baseline !important; }
  .align-items-xxl-stretch {
    align-items: stretch !important; }
  .align-content-xxl-start {
    align-content: flex-start !important; }
  .align-content-xxl-end {
    align-content: flex-end !important; }
  .align-content-xxl-center {
    align-content: center !important; }
  .align-content-xxl-between {
    align-content: space-between !important; }
  .align-content-xxl-around {
    align-content: space-around !important; }
  .align-content-xxl-stretch {
    align-content: stretch !important; }
  .align-self-xxl-auto {
    align-self: auto !important; }
  .align-self-xxl-start {
    align-self: flex-start !important; }
  .align-self-xxl-end {
    align-self: flex-end !important; }
  .align-self-xxl-center {
    align-self: center !important; }
  .align-self-xxl-baseline {
    align-self: baseline !important; }
  .align-self-xxl-stretch {
    align-self: stretch !important; } }

@media (min-width: 1440px) {
  .float-xxl-left {
    float: left !important; }
  .float-xxl-right {
    float: right !important; }
  .float-xxl-none {
    float: none !important; } }

@media (min-width: 1440px) {
  .m-xxl-0 {
    margin: 0 !important; }
  .mt-xxl-0,
  .my-xxl-0 {
    margin-top: 0 !important; }
  .mr-xxl-0,
  .mx-xxl-0 {
    margin-right: 0 !important; }
  .mb-xxl-0,
  .my-xxl-0 {
    margin-bottom: 0 !important; }
  .ml-xxl-0,
  .mx-xxl-0 {
    margin-left: 0 !important; }
  .m-xxl-1 {
    margin: 0.25rem !important; }
  .mt-xxl-1,
  .my-xxl-1 {
    margin-top: 0.25rem !important; }
  .mr-xxl-1,
  .mx-xxl-1 {
    margin-right: 0.25rem !important; }
  .mb-xxl-1,
  .my-xxl-1 {
    margin-bottom: 0.25rem !important; }
  .ml-xxl-1,
  .mx-xxl-1 {
    margin-left: 0.25rem !important; }
  .m-xxl-2 {
    margin: 0.5rem !important; }
  .mt-xxl-2,
  .my-xxl-2 {
    margin-top: 0.5rem !important; }
  .mr-xxl-2,
  .mx-xxl-2 {
    margin-right: 0.5rem !important; }
  .mb-xxl-2,
  .my-xxl-2 {
    margin-bottom: 0.5rem !important; }
  .ml-xxl-2,
  .mx-xxl-2 {
    margin-left: 0.5rem !important; }
  .m-xxl-3 {
    margin: 1rem !important; }
  .mt-xxl-3,
  .my-xxl-3 {
    margin-top: 1rem !important; }
  .mr-xxl-3,
  .mx-xxl-3 {
    margin-right: 1rem !important; }
  .mb-xxl-3,
  .my-xxl-3 {
    margin-bottom: 1rem !important; }
  .ml-xxl-3,
  .mx-xxl-3 {
    margin-left: 1rem !important; }
  .m-xxl-4 {
    margin: 1.5rem !important; }
  .mt-xxl-4,
  .my-xxl-4 {
    margin-top: 1.5rem !important; }
  .mr-xxl-4,
  .mx-xxl-4 {
    margin-right: 1.5rem !important; }
  .mb-xxl-4,
  .my-xxl-4 {
    margin-bottom: 1.5rem !important; }
  .ml-xxl-4,
  .mx-xxl-4 {
    margin-left: 1.5rem !important; }
  .m-xxl-5 {
    margin: 3rem !important; }
  .mt-xxl-5,
  .my-xxl-5 {
    margin-top: 3rem !important; }
  .mr-xxl-5,
  .mx-xxl-5 {
    margin-right: 3rem !important; }
  .mb-xxl-5,
  .my-xxl-5 {
    margin-bottom: 3rem !important; }
  .ml-xxl-5,
  .mx-xxl-5 {
    margin-left: 3rem !important; }
  .p-xxl-0 {
    padding: 0 !important; }
  .pt-xxl-0,
  .py-xxl-0 {
    padding-top: 0 !important; }
  .pr-xxl-0,
  .px-xxl-0 {
    padding-right: 0 !important; }
  .pb-xxl-0,
  .py-xxl-0 {
    padding-bottom: 0 !important; }
  .pl-xxl-0,
  .px-xxl-0 {
    padding-left: 0 !important; }
  .p-xxl-1 {
    padding: 0.25rem !important; }
  .pt-xxl-1,
  .py-xxl-1 {
    padding-top: 0.25rem !important; }
  .pr-xxl-1,
  .px-xxl-1 {
    padding-right: 0.25rem !important; }
  .pb-xxl-1,
  .py-xxl-1 {
    padding-bottom: 0.25rem !important; }
  .pl-xxl-1,
  .px-xxl-1 {
    padding-left: 0.25rem !important; }
  .p-xxl-2 {
    padding: 0.5rem !important; }
  .pt-xxl-2,
  .py-xxl-2 {
    padding-top: 0.5rem !important; }
  .pr-xxl-2,
  .px-xxl-2 {
    padding-right: 0.5rem !important; }
  .pb-xxl-2,
  .py-xxl-2 {
    padding-bottom: 0.5rem !important; }
  .pl-xxl-2,
  .px-xxl-2 {
    padding-left: 0.5rem !important; }
  .p-xxl-3 {
    padding: 1rem !important; }
  .pt-xxl-3,
  .py-xxl-3 {
    padding-top: 1rem !important; }
  .pr-xxl-3,
  .px-xxl-3 {
    padding-right: 1rem !important; }
  .pb-xxl-3,
  .py-xxl-3 {
    padding-bottom: 1rem !important; }
  .pl-xxl-3,
  .px-xxl-3 {
    padding-left: 1rem !important; }
  .p-xxl-4 {
    padding: 1.5rem !important; }
  .pt-xxl-4,
  .py-xxl-4 {
    padding-top: 1.5rem !important; }
  .pr-xxl-4,
  .px-xxl-4 {
    padding-right: 1.5rem !important; }
  .pb-xxl-4,
  .py-xxl-4 {
    padding-bottom: 1.5rem !important; }
  .pl-xxl-4,
  .px-xxl-4 {
    padding-left: 1.5rem !important; }
  .p-xxl-5 {
    padding: 3rem !important; }
  .pt-xxl-5,
  .py-xxl-5 {
    padding-top: 3rem !important; }
  .pr-xxl-5,
  .px-xxl-5 {
    padding-right: 3rem !important; }
  .pb-xxl-5,
  .py-xxl-5 {
    padding-bottom: 3rem !important; }
  .pl-xxl-5,
  .px-xxl-5 {
    padding-left: 3rem !important; }
  .m-xxl-n1 {
    margin: -0.25rem !important; }
  .mt-xxl-n1,
  .my-xxl-n1 {
    margin-top: -0.25rem !important; }
  .mr-xxl-n1,
  .mx-xxl-n1 {
    margin-right: -0.25rem !important; }
  .mb-xxl-n1,
  .my-xxl-n1 {
    margin-bottom: -0.25rem !important; }
  .ml-xxl-n1,
  .mx-xxl-n1 {
    margin-left: -0.25rem !important; }
  .m-xxl-n2 {
    margin: -0.5rem !important; }
  .mt-xxl-n2,
  .my-xxl-n2 {
    margin-top: -0.5rem !important; }
  .mr-xxl-n2,
  .mx-xxl-n2 {
    margin-right: -0.5rem !important; }
  .mb-xxl-n2,
  .my-xxl-n2 {
    margin-bottom: -0.5rem !important; }
  .ml-xxl-n2,
  .mx-xxl-n2 {
    margin-left: -0.5rem !important; }
  .m-xxl-n3 {
    margin: -1rem !important; }
  .mt-xxl-n3,
  .my-xxl-n3 {
    margin-top: -1rem !important; }
  .mr-xxl-n3,
  .mx-xxl-n3 {
    margin-right: -1rem !important; }
  .mb-xxl-n3,
  .my-xxl-n3 {
    margin-bottom: -1rem !important; }
  .ml-xxl-n3,
  .mx-xxl-n3 {
    margin-left: -1rem !important; }
  .m-xxl-n4 {
    margin: -1.5rem !important; }
  .mt-xxl-n4,
  .my-xxl-n4 {
    margin-top: -1.5rem !important; }
  .mr-xxl-n4,
  .mx-xxl-n4 {
    margin-right: -1.5rem !important; }
  .mb-xxl-n4,
  .my-xxl-n4 {
    margin-bottom: -1.5rem !important; }
  .ml-xxl-n4,
  .mx-xxl-n4 {
    margin-left: -1.5rem !important; }
  .m-xxl-n5 {
    margin: -3rem !important; }
  .mt-xxl-n5,
  .my-xxl-n5 {
    margin-top: -3rem !important; }
  .mr-xxl-n5,
  .mx-xxl-n5 {
    margin-right: -3rem !important; }
  .mb-xxl-n5,
  .my-xxl-n5 {
    margin-bottom: -3rem !important; }
  .ml-xxl-n5,
  .mx-xxl-n5 {
    margin-left: -3rem !important; }
  .m-xxl-auto {
    margin: auto !important; }
  .mt-xxl-auto,
  .my-xxl-auto {
    margin-top: auto !important; }
  .mr-xxl-auto,
  .mx-xxl-auto {
    margin-right: auto !important; }
  .mb-xxl-auto,
  .my-xxl-auto {
    margin-bottom: auto !important; }
  .ml-xxl-auto,
  .mx-xxl-auto {
    margin-left: auto !important; } }

@media (min-width: 1440px) {
  .text-xxl-left {
    text-align: left !important; }
  .text-xxl-right {
    text-align: right !important; }
  .text-xxl-center {
    text-align: center !important; } }

@media (min-width: 1440px) {
  .container {
    max-width: 1410px; } }

/* DBHeavent */
@font-face {
  font-family: 'DBHeavent';
  src: url("../fonts/DBHeavent/DBHeavent.eot");
  src: url("../fonts/DBHeavent/DBHeavent.eot?#iefix") format("embedded-opentype"), url("../fonts/DBHeavent/DBHeavent.woff") format("woff"), url("../fonts/DBHeavent/DBHeavent.ttf") format("truetype"), url("../fonts/DBHeavent/DBHeavent.svg") format("svg");
  font-weight: normal;
  font-style: normal; }

/* DBHeavent-Med */
@font-face {
  font-family: 'DBHeavent-Med';
  src: url("../fonts/DBHeavent/DBHeavent-Med.eot");
  src: url("../fonts/DBHeavent/DBHeavent-Med.eot?#iefix") format("embedded-opentype"), url("../fonts/DBHeavent/DBHeavent-Med.woff") format("woff"), url("../fonts/DBHeavent/DBHeavent-Med.ttf") format("truetype"), url("../fonts/DBHeavent/DBHeavent-Med.svg") format("svg");
  font-weight: normal;
  font-style: normal; }

/* DBHeaventt-Light */
@font-face {
  font-family: 'DBHeavent-Light';
  src: url("../fonts/DBHeavent/DBHeaventt-Light.eot");
  src: url("../fonts/DBHeavent/DBHeaventt-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/DBHeavent/DBHeaventt-Light.woff") format("woff"), url("../fonts/DBHeavent/DBHeaventt-Light.ttf") format("truetype"), url("../fonts/DBHeavent/DBHeaventt-Light.svg") format("svg");
  font-weight: normal;
  font-style: normal; }

/* DBHelvethaicaX-Reg */
@font-face {
  font-family: 'DBHelvethaicaX-Reg';
  src: url("../fonts/DBHelvethaicaX/DBHelvethaicaX-Reg.eot?#iefix") format("embedded-opentype"), url("../fonts/DBHelvethaicaX/DBHelvethaicaX-Reg.woff") format("woff"), url("../fonts/DBHelvethaicaX/DBHelvethaicaX-Reg.ttf") format("truetype"), url("../fonts/DBHelvethaicaX/DBHelvethaicaX-Reg.svg#DBHelvethaicaX-Reg") format("svg");
  font-weight: normal;
  font-style: normal; }

/* DBHelvethaicaX-Bd */
@font-face {
  font-family: 'DBHelvethaicaX-Bd';
  src: url("../fonts/DBHelvethaicaX/DBHelvethaicaX-Bd.eot?#iefix") format("embedded-opentype"), url("../fonts/DBHelvethaicaX/DBHelvethaicaX-Bd.woff") format("woff"), url("../fonts/DBHelvethaicaX/DBHelvethaicaX-Bd.ttf") format("truetype"), url("../fonts/DBHelvethaicaX/DBHelvethaicaX-Bd.svg#DBHelvethaicaX-Bd") format("svg");
  font-weight: normal;
  font-style: normal; }

/* DBHelvethaicaX-Med */
@font-face {
  font-family: 'DBHelvethaicaX-Med';
  src: url("../fonts/DBHelvethaicaX/DBHelvethaicaX-Med.eot?#iefix") format("embedded-opentype"), url("../fonts/DBHelvethaicaX/DBHelvethaicaX-Med.woff") format("woff"), url("../fonts/DBHelvethaicaX/DBHelvethaicaX-Med.ttf") format("truetype"), url("../fonts/DBHelvethaicaX/DBHelvethaicaX-Med.svg#DBHelvethaicaX-Med") format("svg");
  font-weight: normal;
  font-style: normal; }

.font-reg {
  font-family: 'DBHelvethaicaX-Reg'; }

.font-reg-med {
  font-family: 'DBHelvethaicaX-Med'; }

.font-reg-bd {
  font-family: 'DBHelvethaicaX-Bd'; }

/*# sourceMappingURL=fonts.css.map */
body {
  font-size: 10px;
  font-family: 'DBHeavent';
  position: relative;
  background: #FFF; }

.bg-light-gray {
  background: #eeeeee; }

.float-full-width {
  width: 100%;
  float: left; }

@media (max-width: 991.98px) {
  .mx-md-100 {
    max-width: 100%; } }

.select-area {
  position: relative; }
  .select-area i {
    position: absolute;
    right: 10px;
    top: 8px; }
  .select-area .select {
    position: relative;
    z-index: 1;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none; }
  .select-area .select-no-frame {
    border: none;
    background: transparent;
    color: #999;
    padding-right: 2.2rem; }
  .select-area .select-white {
    border: none;
    background: #FFF;
    color: #000; }

.wrap-breadcrumb ul.breadcrumb {
  padding: 20px 0px 10px 0px;
  list-style: none;
  margin: 0;
  background-color: transparent; }

.wrap-breadcrumb ul.breadcrumb li {
  font-family: "DBHelvethaicaX-Reg";
  display: inline;
  font-size: 1.125rem;
  color: #a2a2a2; }

.wrap-breadcrumb ul.breadcrumb li + li:before {
  padding: 8px;
  color: #a2a2a2;
  content: "/\00a0"; }

.wrap-breadcrumb ul.breadcrumb li a {
  color: #a2a2a2;
  text-decoration: none; }

.wrap-breadcrumb ul.breadcrumb li a:hover {
  color: #a2a2a2;
  text-decoration: underline; }

.text-header {
  position: relative;
  display: inline-block; }
  .text-header h1 {
    padding-left: 15px; }
  .text-header span {
    height: 25px;
    width: 7px;
    background: #ec1c23;
    position: absolute;
    top: 10px;
    left: 0;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px; }

/* button */
.btn-full-pink {
  background: #ff8084;
  border: 1px solid #ff8084;
  color: #FFF; }

.btn-full-red {
  background: #ec1c23;
  border: 1px solid #ec1c23;
  color: #FFF; }

.btn-full-gray {
  background: #999999;
  border: 1px solid #999999;
  color: #FFF; }

.btn-full-black {
  background: #000;
  border: 1px solid #000;
  color: #FFF; }

/* pagination */
.paginator {
  padding: 2rem 0; }
  .paginator .arrow {
    color: #dadada; }
    .paginator .arrow.active {
      color: #000; }
  .paginator .pagination {
    padding-left: 0;
    list-style: none; }
    .paginator .pagination li {
      margin-right: 1rem; }
      .paginator .pagination li a {
        padding: 0.2rem 0.75rem;
        color: #000;
        border-radius: 5px; }
        .paginator .pagination li a.active {
          color: #FFF;
          background-color: #000; }
      .paginator .pagination li:last-child {
        margin-right: 0; }

#nav-menu {
  background: #fff; }
  #nav-menu .nav-bg-color {
    height: 4px;
    width: 100%;
    background: linear-gradient(to right, #ec1c23 25%, #f9b200 25% 50%, #82be22 50% 75%, #60ccf5 75%); }
  #nav-menu .navbar {
    padding: 0;
    border-bottom: 2px solid #eeeeee; }
  #nav-menu .navbar-brand {
    margin-right: 2rem; }
  @media (min-width: 1200px) {
    #nav-menu .nav-left {
      margin-top: 50px !important; } }
  #nav-menu .nav-left .nav-link {
    color: #000000;
    padding-right: 1.5rem;
    padding-left: 1.5rem;
    padding-bottom: 1rem;
    font-size: 1.3rem;
    font-family: 'DBHeavent-Med'; }
  #nav-menu .nav-left .nav-item.active {
    border-bottom: 3px solid #ec1c23; }
  #nav-menu .nav-right {
    padding-bottom: 10px; }
    #nav-menu .nav-right .language .nav-link {
      color: #999999;
      font-size: 1.3rem;
      font-family: 'DBHeavent'; }
    #nav-menu .nav-right .search i {
      color: #bdbdbd; }
    #nav-menu .nav-right .search ::placeholder {
      color: #bdbdbd; }
    #nav-menu .nav-right .search .input-group-text {
      border-radius: 0;
      border: 1px solid #eeeeee;
      border-right: 0;
      background: #FFF; }
    #nav-menu .nav-right .search .form-control {
      border-radius: 0;
      border: 1px solid #eeeeee;
      border-left: 0;
      padding-left: 0;
      font-size: 1.1rem; }
    #nav-menu .nav-right .btn-full-black {
      background-color: #000;
      border: 1px solid #000;
      color: #FFF;
      border-radius: 0;
      font-size: 1.1rem; }
  #nav-menu .nav-left {
    margin-top: 20px; }
    #nav-menu .nav-left .nav-link {
      padding-right: 0.5rem;
      padding-left: 0.5rem; }
  #nav-menu .nav-right {
    margin-top: 20px; }
    #nav-menu .nav-right .language .nav-link {
      padding-top: 0;
      padding-bottom: 0; }
    #nav-menu .nav-right .language i {
      color: #999; }
    #nav-menu .nav-right .language .login img {
      width: 20px; }
  #nav-menu .block-search {
    background: #FFF; }
    #nav-menu .block-search #nav-search {
      padding: 1rem; }
      #nav-menu .block-search #nav-search .search-input {
        font-size: 1.3rem;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0; }
      #nav-menu .block-search #nav-search .btn-search {
        border: 0;
        border-radius: 0;
        background-color: transparent;
        border-top: 1px solid #ccc;
        border-bottom: 1px solid #ccc;
        border-right: 1px solid #ccc;
        color: #888;
        border-bottom-right-radius: 4px;
        border-top-right-radius: 4px;
        padding-top: 12.5px;
        padding-bottom: 10px;
        padding-left: 15px;
        padding-right: 15px; }
  #nav-menu .mobile-nav {
    position: relative;
    z-index: 1;
    padding: 1rem;
    background: #fff; }
    #nav-menu .mobile-nav .header .float-right i {
      color: #999; }
    #nav-menu .mobile-nav .header .float-right .btn:last-child {
      padding-right: 0; }
    @media (max-width: 426px) {
      #nav-menu .mobile-nav .header .float-right img {
        width: 25px; } }
    @media (max-width: 374px) {
      #nav-menu .mobile-nav .header .float-right .btn {
        padding: 0.375rem 10px; }
      #nav-menu .mobile-nav .header .float-right img {
        width: 20px; } }
    @media (max-width: 767.98px) {
      #nav-menu .mobile-nav .navbar-brand {
        margin-right: 0; } }

#menu-mobile {
  font-size: 1.3rem;
  color: #FFF; }
  #menu-mobile ul li a {
    font-size: 1.3rem;
    color: #FFF; }
  #menu-mobile .nav-language .btn {
    padding: 0 0.5rem; }
  #menu-mobile .nav-language .active {
    border: 1px solid #fff; }
  #menu-mobile .nav-language .float-right {
    padding: 10px 20px 10px 10px; }
  #menu-mobile .padding-style {
    padding-top: 15px; }
  #menu-mobile .mm-panel, #menu-mobile .mm-navbar, #menu-mobile .mm-listview {
    background: #ec1c23; }
  #menu-mobile .mm-listitem:after {
    left: 0;
    border-color: #FFF; }

.ads {
  padding: 2rem 0;
  background-color: #cc0c13;
  position: relative; }
  .ads h1 {
    color: #FFF; }
  .ads p {
    color: #FFF;
    font-family: 'DBHeavent-Med';
    font-size: 1.3rem; }
  .ads .container {
    position: relative;
    z-index: 1; }
  .ads .bg-design {
    position: absolute;
    top: 0;
    width: 30%;
    max-width: 372px;
    height: 100%; }
    .ads .bg-design.bg-1 {
      left: 0;
      background-image: url("../images/taste/bg-1.jpg");
      background-position: left center;
      background-size: contain;
      background-repeat: no-repeat; }
    .ads .bg-design.bg-2 {
      right: 0;
      background-image: url("../images/taste/bg-2.jpg");
      background-position: right center;
      background-size: contain;
      background-repeat: no-repeat; }
    @media (max-width: 767.98px) {
      .ads .bg-design {
        width: 50%; } }
  .ads .btn-full-white {
    background: #FFF;
    color: #cc0c13;
    font-size: 1.6rem;
    font-family: 'DBHeavent-Med'; }
    .ads .btn-full-white img {
      width: 80px;
      padding-left: 10px; }
      @media (max-width: 991.98px) {
        .ads .btn-full-white img {
          width: 50px;
          padding-left: 5px; } }
      @media (max-width: 767.98px) {
        .ads .btn-full-white img {
          width: 80px;
          padding-left: 10px; } }
  .ads img.image {
    margin: 0 2rem; }
    @media (max-width: 991.98px) {
      .ads img.image {
        margin: 0 0.5rem; } }
    @media (max-width: 767px) {
      .ads img.image.image-1 {
        margin: auto;
        margin-bottom: 1rem; }
      .ads img.image.image-2 {
        display: none !important; } }

footer {
  width: 100%;
  float: left; }
  footer .nav-bg-color {
    height: 4px;
    width: 100%;
    background: linear-gradient(to right, #ec1c23 25%, #f9b200 25% 50%, #82be22 50% 75%, #60ccf5 75%); }
  footer p {
    font-size: 1.3rem;
    line-height: 1.3rem;
    margin: 0; }
  footer .footer {
    background-color: #f8f8f8;
    padding: 30px 0; }
    footer .footer .btn {
      font-size: 1.3rem;
      line-height: 1.3rem; }
    footer .footer .about .logo {
      padding-top: 10px;
      padding-bottom: 25px;
      float: left;
      width: 100%; }
    footer .footer .list-link li:first-child {
      font-size: 1.3rem;
      font-family: 'DBHeavent-Med';
      font-weight: bold; }
    footer .footer .list-link li {
      padding: 0.5rem 0; }
      footer .footer .list-link li a {
        color: #333333;
        font-size: 1.3rem; }
    footer .footer .list-social {
      margin-top: 5px;
      position: relative; }
      footer .footer .list-social li:first-child {
        font-size: 1.3rem;
        margin-bottom: 15px;
        font-family: 'DBHeavent-Med';
        font-weight: bold; }
      footer .footer .list-social .btn-up {
        position: absolute;
        bottom: 0; }
        footer .footer .list-social .btn-up.btn-frame-gray {
          border: 1px solid #999999;
          border-radius: 5px;
          color: #999999;
          padding: 0.5rem 2rem; }
        @media (max-width: 1199.98px) {
          footer .footer .list-social .btn-up {
            right: 0; } }
        @media (max-width: 991.98px) {
          footer .footer .list-social .btn-up {
            position: relative; } }
  footer .footer-bottom {
    font-family: 'DBHeavent';
    font-size: 1.3rem;
    background-color: #ed1c24;
    padding: 25px 0;
    color: #fff; }
    footer .footer-bottom span {
      margin: 0 10px; }
    footer .footer-bottom a {
      color: #FFF; }
    footer .footer-bottom .copy-right {
      text-align: right; }
    @media (max-width: 991.98px) {
      footer .footer-bottom .terms {
        text-align: center; }
      footer .footer-bottom .copy-right {
        text-align: center; } }

#home {
  width: 100%;
  float: left;
  /* text */ }
  #home .btn {
    font-size: 1.3rem;
    line-height: 1.3rem; }
  #home .btn-read-more {
    position: relative; }
    #home .btn-read-more i {
      position: absolute;
      top: 5px;
      right: 10px; }
  #home .link-see-more {
    color: #a7a7a7;
    font-size: 1.3rem;
    text-decoration: underline; }
  #home h1, #home h2, #home h3, #home h4, #home h5, #home h6 {
    font-family: 'DBHeavent-Med'; }
  #home p {
    font-size: 1.3rem;
    line-height: 1.3rem;
    margin: 0; }
  #home h3 {
    margin: 0; }
  #home h5 {
    font-size: 1.3rem;
    margin: 0; }
  #home .font-icon {
    font-size: 1rem; }
  #home .slick-dots li {
    width: 1.5rem;
    height: 1.5rem;
    margin: 5px 0; }
  #home .slick-dots button {
    display: block;
    width: 1.5rem;
    height: 1.5rem;
    padding: 0;
    border-radius: 100%;
    background-image: url("../images/home/slide-dot.png");
    background-position-x: -30px;
    background-repeat: no-repeat;
    text-indent: -9999px; }
  #home .slick-dots li.slick-active button {
    background-position-x: 0; }
  #home .banner .slick-dotted.slick-slider {
    margin-bottom: 0; }
  #home .banner .slick-dots {
    width: auto;
    bottom: 0; }
    #home .banner .slick-dots li {
      width: 1.5rem;
      height: 1.5rem;
      margin: 5px 0; }
    #home .banner .slick-dots button {
      display: block;
      width: 1.5rem;
      height: 1.5rem;
      padding: 0;
      border-radius: 100%;
      background-image: url("../images/home/slide-dot.png");
      background-position-x: -30px;
      background-repeat: no-repeat;
      text-indent: -9999px; }
    #home .banner .slick-dots li.slick-active button {
      background-position-x: 0; }
  #home .activity {
    padding: 2rem 0;
    background: #f8f8f8; }
    #home .activity .block-activity .slick-slide {
      height: auto; }
    #home .activity .block-activity .slick-track {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      align-items: stretch; }
    #home .activity .block-activity .activity-content {
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
      background: #FFF;
      padding: 1rem;
      margin: 0 10px;
      margin-bottom: 20px;
      border-radius: 5px; }
      #home .activity .block-activity .activity-content span {
        color: #999999;
        font-size: 1.3rem; }
      #home .activity .block-activity .activity-content .hashtag {
        position: relative; }
        #home .activity .block-activity .activity-content .hashtag .interest.active {
          background-color: #ec1c23; }
  #home .course {
    background: url(../images/home/course/bg.jpg) no-repeat center;
    background-size: cover;
    padding: 3rem 0;
    overflow: hidden; }
    #home .course .select-white {
      font-size: 1.3rem; }
    #home .course .wrap-filter .select-area {
      width: 60%;
      display: inline-block; }
      @media (min-width: 576px) {
        #home .course .wrap-filter .select-area {
          height: 100%; } }
      @media (max-width: 767.98px) {
        #home .course .wrap-filter .select-area {
          width: 100%;
          margin-bottom: 1rem; } }
      #home .course .wrap-filter .select-area i {
        z-index: 2;
        font-size: 1.3rem; }
      #home .course .wrap-filter .select-area .select {
        padding: 0 0.5rem;
        width: 100%;
        height: 100%;
        font-size: 1.3rem;
        border-radius: 0.25rem; }
    #home .course .wrap-filter .btn-full-red {
      padding: 0.375rem 1.5rem;
      margin-right: 5px;
      margin-left: 10px; }
      @media (min-width: 576px) {
        #home .course .wrap-filter .btn-full-red {
          height: 100%;
          margin-top: -5px; } }
    @media (min-width: 576px) {
      #home .course .wrap-filter .btn-full-gray {
        height: 100%;
        margin-top: -5px; } }
    #home .course .block-course .content-detail {
      position: relative;
      margin: 30px 10px 0 10px;
      border-radius: 5px;
      background: #FFF;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
      padding-top: 1.5rem;
      padding-left: 2rem;
      padding-right: 2rem;
      padding-bottom: 1.5rem;
      overflow: hidden; }
      #home .course .block-course .content-detail img {
        max-width: 80%;
        margin: auto; }
      @media (min-width: 818px) {
        #home .course .block-course .content-detail.slick-current.slick-active {
          padding-bottom: 4rem;
          margin-top: 10px;
          margin-bottom: 10px; } }
      #home .course .block-course .content-detail .content-lock {
        background: #faba19e3;
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0; }
    #home .course .block-course .slick-next {
      width: 37px;
      height: 58px;
      right: -40px;
      z-index: 1;
      background: url("../images/home/course/arrow-next.png"); }
      #home .course .block-course .slick-next:before {
        content: ''; }
      @media (max-width: 767.98px) {
        #home .course .block-course .slick-next {
          right: -30px; } }
    #home .course .block-course .slick-prev {
      width: 37px;
      height: 58px;
      left: -40px;
      z-index: 1;
      background: url("../images/home/course/arrow-prev.png"); }
      #home .course .block-course .slick-prev:before {
        content: ''; }
      @media (max-width: 767.98px) {
        #home .course .block-course .slick-prev {
          left: -30px; } }
  #home .game {
    padding: 2rem 0; }
    #home .game .game-link {
      background-size: cover;
      padding: 2rem 0; }
      @media (max-width: 991.98px) {
        #home .game .game-link {
          flex-wrap: wrap; } }
      #home .game .game-link h3 {
        color: #FFF;
        font-family: 'DBHeavent-Med';
        padding: 1rem; }
        @media (max-width: 991.98px) {
          #home .game .game-link h3 {
            width: 100%;
            text-align: center; } }
      #home .game .game-link.game-1 {
        background-image: url("../images/home/game/bg-game-1.jpg");
        background-repeat: no-repeat;
        background-position: center; }
      #home .game .game-link.game-2 {
        background-image: url("../images/home/game/bg-game-2.jpg");
        background-repeat: no-repeat;
        background-position: center; }
  #home .recipe {
    background: #f8f8f8;
    padding: 3rem 0; }
    #home .recipe .block-recipe .slick-slide {
      height: auto; }
    #home .recipe .block-recipe .slick-track {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      align-items: stretch; }
    #home .recipe .block-recipe .content-recipe {
      margin: 0 10px 20px 10px; }
      @media (max-width: 1199.98px) {
        #home .recipe .block-recipe .content-recipe h3 {
          height: 30px;
          overflow: hidden; } }
      #home .recipe .block-recipe .content-recipe .image-content {
        padding: 3px;
        background: #FFF;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); }
        #home .recipe .block-recipe .content-recipe .image-content img {
          width: 100%; }
      #home .recipe .block-recipe .content-recipe .share-content {
        padding: 0.5rem 0;
        border-top: 1px solid #e8e8e8;
        border-bottom: 1px solid #e8e8e8; }
        #home .recipe .block-recipe .content-recipe .share-content span {
          color: #888888;
          font-size: 1.3rem; }
        #home .recipe .block-recipe .content-recipe .share-content img {
          display: inline-block;
          margin: 0 0.5rem; }
        #home .recipe .block-recipe .content-recipe .share-content .btn {
          display: flex;
          padding: 0; }
          #home .recipe .block-recipe .content-recipe .share-content .btn .no-active {
            display: block; }
          #home .recipe .block-recipe .content-recipe .share-content .btn .active {
            display: none; }
          #home .recipe .block-recipe .content-recipe .share-content .btn.active .no-active {
            display: none; }
          #home .recipe .block-recipe .content-recipe .share-content .btn.active .active {
            display: block; }
  #home .gallery {
    padding: 2rem 0; }
    #home .gallery .content-gallery {
      position: relative; }
      #home .gallery .content-gallery .fade-bg {
        position: absolute;
        top: 0;
        background: rgba(0, 0, 0, 0.5);
        width: 100%;
        height: 100%; }
      #home .gallery .content-gallery img {
        width: 100%; }
        @media (max-width: 767.98px) {
          #home .gallery .content-gallery img {
            width: auto;
            height: 100%; } }
      #home .gallery .content-gallery .detail-content {
        position: absolute;
        bottom: 0;
        width: 100%;
        background-image: linear-gradient(transparent, black 90%);
        padding: 2rem;
        color: #FFF; }
      #home .gallery .content-gallery.slick-current.slick-active .fade-bg {
        background: transparent; }

#profile {
  font-size: 120%;
  font-family: "DBHelvethaicaX-Reg"; }

.ctn-content {
  background: #fff;
  border-radius: 6px; }

.ct-ctrl {
  margin-bottom: 50px; }
  .ct-ctrl h2 {
    font-family: "DBHelvethaicaX-Med";
    font-size: 3em;
    margin-bottom: 20px; }

.ic-profile {
  background-image: url("../images/profile/icon_profile.png");
  background-repeat: no-repeat; }

.bx-btn button {
  font-family: "DBHelvethaicaX-Med";
  border: 0;
  border-radius: 6px;
  width: 100%;
  font-size: 1.8em;
  padding: 10px;
  cursor: pointer; }

.ct-profile .bx-name {
  position: relative; }
  .ct-profile .bx-name:before {
    content: "";
    position: absolute;
    height: 100%;
    width: 10px;
    border-radius: 6px;
    background: #cc0c13; }
  .ct-profile .bx-name div {
    padding-left: 24px; }
  .ct-profile .bx-name .lb-profile {
    font-size: 2.167em;
    font-family: "DBHelvethaicaX-Bd";
    line-height: 1; }
  .ct-profile .bx-name .lb-name {
    font-size: 1.834em;
    font-family: "DBHelvethaicaX-Med";
    line-height: 1; }

.ct-profile .lb-lg {
  font-size: 1.5em;
  line-height: 1; }

.ct-profile .line {
  margin-top: 20px;
  margin-bottom: 20px;
  border-bottom: 1px solid #dddddd; }

.ct-profile .bx-btn {
  margin-top: 10px; }
  .ct-profile .bx-btn button {
    color: #FFF;
    background: #000;
    max-width: 290px; }

.ct-stat .ls-stat {
  margin-right: -10px;
  margin-left: -10px; }
  .ct-stat .ls-stat .item {
    background: #eeeeee;
    border: none;
    border-radius: 0;
    margin-left: 10px;
    margin-right: 10px; }
  .ct-stat .ls-stat .lb-stat {
    font-size: 2.55em;
    font-family: "DBHelvethaicaX-Reg";
    line-height: 1; }
  .ct-stat .ls-stat .bx-point {
    background: #dddddd;
    width: 100%;
    height: 117px;
    display: table; }
    .ct-stat .ls-stat .bx-point .td {
      display: table-cell; }
    .ct-stat .ls-stat .bx-point .col {
      width: 50%;
      position: relative; }
      .ct-stat .ls-stat .bx-point .col:nth-child(2):before {
        position: absolute;
        height: 60px;
        content: "";
        background: #FFF;
        width: 2px;
        left: 0;
        top: 50%;
        margin-left: -1px;
        margin-top: -30px; }
  .ct-stat .ls-stat .lb-point {
    font-size: 4.6em;
    font-family: "DBHelvethaicaX-Bd";
    line-height: 0.8; }
  .ct-stat .ls-stat .lb-point2 {
    font-size: 3.6em;
    font-family: "DBHelvethaicaX-Bd";
    line-height: 0.8; }
  .ct-stat .ls-stat .lb-unit {
    font-size: 2.55em;
    font-family: "DBHelvethaicaX-Med";
    line-height: 1; }
  .ct-stat .ls-stat .card-footer {
    padding: 0;
    border-radius: 0;
    border: 0; }

.ct-stat .ic-stat-1 {
  background-position: 0 0;
  width: 97px;
  height: 100px; }

.ct-stat .ic-stat-2 {
  background-position: 0 -126px;
  width: 97px;
  height: 100px; }

.ic-sticker {
  background-size: 100px auto;
  width: 100px;
  height: 100px; }

.ic-sticker-1 {
  background-position: 0 -170px; }

.ic-sticker-2 {
  background-position: 0 -296px; }

.ic-sticker-3 {
  background-position: 0 -415px; }

.ic-sticker-4 {
  background-position: 0 -536px; }

.ic-sticker-5 {
  background-position: 0 -656px; }

.ic-sticker-6 {
  background-position: 0 -776px; }

.ic-sticker-7 {
  background-position: 0 -896px; }

.ic-sticker-8 {
  background-position: 0 -1016px; }

.ic-sticker-9 {
  background-position: 0 -1136px; }

.ic-sticker-10 {
  background-position: 0 -1256px; }

.ct-sticker .ls-sticker {
  border: 1px solid #dddddd;
  border-radius: 6px; }
  .ct-sticker .ls-sticker .lb-sticker {
    font-size: 2.2em;
    line-height: 1; }

.ct-sticker .item .ic-sticker {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%); }

.ct-sticker .item.active .ic-sticker {
  filter: grayscale(0);
  -webkit-filter: grayscale(0); }

.ct-wishlist .ls-wishlist .ls-wishlist-inn {
  margin-left: -10px;
  margin-right: -10px; }

.ct-wishlist .ls-wishlist .item {
  padding-top: 30px;
  margin-left: 10px;
  margin-right: 10px;
  -webkit-box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.1);
  --moz-box-shadow: $wishlist_shadow;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.1); }

.ct-wishlist .ls-wishlist .lb-wishlist {
  font-size: 3em;
  font-family: "DBHelvethaicaX-Bd";
  line-height: 1; }

.ct-wishlist .ls-wishlist .lb-wishlist2 {
  font-size: 1.8em;
  font-family: "DBHelvethaicaX-Bd";
  line-height: 1; }

.ct-wishlist .ls-wishlist .dt {
  font-size: 1.8em;
  font-family: "DBHelvethaicaX-Reg";
  line-height: 1; }

.ct-wishlist .ls-wishlist .btn-delete {
  position: absolute;
  right: 5px;
  top: 5px;
  border: 0;
  background: transparent;
  font-size: 20px;
  outline: none;
  cursor: pointer;
  padding: 0 10px; }
  .ct-wishlist .ls-wishlist .btn-delete i {
    color: #cccccc; }

.ct-wishlist .ls-wishlist .bx-btn button {
  color: #FFF;
  max-width: 270px;
  background: #cc0c13; }
  .ct-wishlist .ls-wishlist .bx-btn button i {
    font-size: 15px;
    padding-left: 5px; }

.content-umami {
  background: #cc0c13;
  position: relative; }
  .content-umami .ctn-umami {
    position: relative; }
  .content-umami .lb-umami {
    font-size: 4.6em;
    font-family: "DBHelvethaicaX-Med";
    color: #FFF;
    line-height: 1; }
  .content-umami .lb-umami-1 {
    font-size: 3em;
    line-height: 1;
    color: #FFF; }
  .content-umami .bx-btn button {
    max-width: 340px;
    color: #cc0c13;
    font-size: 2.55em; }
  .content-umami .bg-umami {
    background-image: url("../images/profile/bg-umami.png");
    background-repeat: no-repeat; }
    .content-umami .bg-umami.bg-1 {
      width: 200px;
      height: 87px; }
    .content-umami .bg-umami.bg-2 {
      margin-top: 14px;
      width: 200px;
      height: 68px;
      background-position: 0 -104px; }
  .content-umami .bg-ovl-umami {
    background-image: url("../images/profile/bg-ovl-umami.png");
    background-repeat: no-repeat; }
    .content-umami .bg-ovl-umami.bg-1 {
      width: 30%;
      position: absolute;
      background-position: right center;
      left: 0;
      height: 100%; }
    .content-umami .bg-ovl-umami.bg-2 {
      width: 19%;
      height: 100%;
      right: 0;
      position: absolute;
      background-position: left center; }

@media (max-width: 575px) {
  .ct-ctrl {
    margin-bottom: 30px; }
  .ct-stat .ls-stat .bx-point table {
    height: auto; }
  .ct-stat .ls-stat .bx-point td {
    padding: 15px; }
  .ct-wishlist .ls-wishlist .item {
    margin-bottom: 15px; }
  .content-umami .bg-ovl-umami.bg-1 {
    background-position: right 80px;
    background-size: 300px;
    width: 40%; }
  .content-umami .bg-ovl-umami.bg-2 {
    background-position: left 120px;
    background-size: 300px;
    width: 25%; } }

@media (max-width: 991px) {
  .ctn-content {
    padding: 15px; }
  .ct-stat, .ct-sticker, .ct-wishlist, .ctn-umami {
    font-size: 0.8em; } }

@media (min-width: 992px) {
  .ctn-content {
    padding: 30px; }
  .ct-sticker .ls-sticker {
    padding: 15px 35px; }
  .ct-sticker .ic-sticker {
    background-size: 150px auto;
    max-width: 150px;
    width: 150px;
    height: 150px; }
  .ct-sticker .ic-sticker-1 {
    background-position: 0 -255px; }
  .ct-sticker .ic-sticker-2 {
    background-position: 0 -443px; }
  .ct-sticker .ic-sticker-3 {
    background-position: 0 -623px; }
  .ct-sticker .ic-sticker-4 {
    background-position: 0 -803px; }
  .ct-sticker .ic-sticker-5 {
    background-position: 0 -982px; }
  .ct-sticker .ic-sticker-6 {
    background-position: 0 -1163px; }
  .ct-sticker .ic-sticker-7 {
    background-position: 0 -1343px; }
  .ct-sticker .ic-sticker-8 {
    background-position: 0 -1523px; }
  .ct-sticker .ic-sticker-9 {
    background-position: 0 -1703px; }
  .ct-sticker .ic-sticker-10 {
    background-position: 0 -1883px; } }

@media (min-width: 1145px) {
  .ct-sticker .ls-sticker .item {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
    text-align: center; } }

@media (min-width: 1400px) {
  .ct-sticker .ls-sticker .item {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 20%;
    flex: 0 0 20%;
    max-width: 20%;
    text-align: center; } }

#contact {
  overflow: hidden;
  font-size: 1.375rem; }
  #contact h1, #contact h2, #contact h3, #contact h4, #contact h5, #contact h6 {
    font-family: 'DBHeavent-Med'; }
  #contact h1 {
    font-size: 2.625rem; }
    @media (max-width: 767.98px) {
      #contact h1 {
        font-size: 2.2rem; } }
  #contact .data-contact {
    background-color: #c5e8fb;
    position: relative; }
    #contact .data-contact a {
      color: #212529; }
    #contact .data-contact .btn {
      font-size: 1.375rem;
      line-height: 1.375rem; }
    #contact .data-contact .btn-full-red, #contact .data-contact .btn-full-black {
      color: #FFF;
      padding: 0.5rem 2rem; }
    #contact .data-contact .wrap-data-contact {
      position: relative;
      z-index: 1; }
    #contact .data-contact .bg-data-contact {
      position: absolute;
      bottom: 0;
      right: -15%;
      width: 50%;
      height: 100%;
      background-image: url("../images/contact/boy.png");
      background-position: right bottom;
      background-repeat: no-repeat;
      background-size: contain; }
      @media (max-width: 767.98px) {
        #contact .data-contact .bg-data-contact {
          right: -10%; } }
    #contact .data-contact .bg-design {
      position: absolute;
      top: 0;
      width: 30%;
      max-width: 240px;
      height: 100%; }
      #contact .data-contact .bg-design.bg-1 {
        left: 0;
        background-image: url("../images/contact/cloude-1.png");
        background-position: left center;
        background-size: contain;
        background-repeat: no-repeat; }
      #contact .data-contact .bg-design.bg-2 {
        right: 0;
        background-image: url("../images/contact/cloude-2.png");
        background-position: right 10%;
        background-size: contain;
        background-repeat: no-repeat; }
      @media (max-width: 767.98px) {
        #contact .data-contact .bg-design {
          width: 50%; } }
  #contact .data-form .form-control {
    font-size: 1.375rem;
    border-radius: 1px;
    border: 1px solid #eeeeee; }
  #contact .data-form .btn.btn-full-red {
    font-size: 2rem;
    font-family: 'DBHeavent-Med';
    padding: 0.5rem 7.4rem; }
    #contact .data-form .btn.btn-full-red:hover {
      color: #FFF; }
    @media (max-width: 575.98px) {
      #contact .data-form .btn.btn-full-red {
        width: 100%; } }
  @media (max-width: 767.98px) {
    #contact .data-form #rc-imageselect, #contact .data-form .g-recaptcha {
      transform: scale(0.95);
      -webkit-transform: scale(0.95);
      transform-origin: 0 0;
      -webkit-transform-origin: 0 0; } }

#elearning {
  float: left;
  width: 100%;
  overflow: hidden;
  font-size: 1.375rem; }
  #elearning h1, #elearning h2, #elearning h3, #elearning h4, #elearning h5, #elearning h6 {
    font-family: 'DBHeavent-Med'; }
  #elearning h3 {
    margin: 0; }
  #elearning h1 {
    font-size: 3.5rem;
    margin-bottom: 0; }
    @media (max-width: 991.98px) {
      #elearning h1 {
        font-size: 2.2rem; } }
  #elearning p {
    font-size: 1.375rem;
    line-height: 1.375rem;
    margin: 0; }
  #elearning .text-header span {
    top: 22px; }
    @media (max-width: 991.98px) {
      #elearning .text-header span {
        top: 10px; } }
  #elearning .btn {
    font-size: 1.375rem;
    line-height: 1.375rem; }
  #elearning .font-icon {
    font-size: 1rem; }
  #elearning .btn-read-more {
    position: relative; }
    #elearning .btn-read-more i {
      position: absolute;
      top: 5px;
      right: 10px; }
  #elearning .slick-dots li {
    width: 1.5rem;
    height: 1.5rem;
    margin: 5px 0; }
  #elearning .slick-dots button {
    display: block;
    width: 1.5rem;
    height: 1.5rem;
    padding: 0;
    border-radius: 100%;
    background-image: url("../images/home/slide-dot.png");
    background-position-x: -30px;
    background-repeat: no-repeat;
    text-indent: -9999px; }
  #elearning .slick-dots li.slick-active button {
    background-position-x: 0; }
  #elearning .banner {
    background-color: #ff8084; }
    #elearning .banner h1, #elearning .banner p {
      color: #FFF; }
    #elearning .banner p {
      font-family: 'DBHeavent-Light';
      font-size: 2rem;
      line-height: 2rem;
      max-width: 500px;
      margin: 0; }
      @media (max-width: 991.98px) {
        #elearning .banner p {
          font-size: 1.375rem; } }
    @media (max-width: 991.98px) {
      #elearning .banner .img {
        padding-top: 10px; } }
    @media (max-width: 767.98px) {
      #elearning .banner .img {
        padding-top: 50px; } }
    @media (max-width: 575.98px) {
      #elearning .banner .img {
        padding-top: 30px; } }
  #elearning .activity {
    padding: 2rem 0;
    background: #f8f8f8; }
    #elearning .activity .block-activity .slick-slide {
      height: auto; }
    #elearning .activity .block-activity .slick-track {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      align-items: stretch; }
    #elearning .activity .block-activity .activity-content {
      box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.1);
      background: #FFF;
      padding: 1rem;
      margin: 0 10px;
      margin-bottom: 20px;
      border-radius: 5px; }
      #elearning .activity .block-activity .activity-content h3 {
        font-size: 2.25rem;
        line-height: 2.25rem; }
      #elearning .activity .block-activity .activity-content h5 {
        font-size: 1.375rem;
        margin-bottom: 0; }
      #elearning .activity .block-activity .activity-content span {
        color: #999999;
        font-size: 1.375rem; }
      #elearning .activity .block-activity .activity-content .btn {
        color: #FFF; }
      #elearning .activity .block-activity .activity-content .hashtag {
        position: relative; }
        #elearning .activity .block-activity .activity-content .hashtag .interest.active {
          background-color: #ec1c23; }
  #elearning .lesson .remark {
    font-size: 1.375rem;
    margin-left: 1rem;
    display: inline-block; }
  #elearning .lesson .block-filter .block-left {
    float: left; }
    #elearning .lesson .block-filter .block-left .btn-filter {
      background: transparent;
      border: 1px solid transparent;
      color: #000;
      padding: 0.5rem 1.5rem;
      margin-right: 10px;
      margin-bottom: 10px; }
      #elearning .lesson .block-filter .block-left .btn-filter i {
        display: none; }
      #elearning .lesson .block-filter .block-left .btn-filter.active {
        border: 1px solid #000; }
        #elearning .lesson .block-filter .block-left .btn-filter.active i {
          display: inline-block; }
  #elearning .lesson .block-filter .block-right {
    float: right; }
    #elearning .lesson .block-filter .block-right .switch {
      position: relative;
      margin-top: 5px; }
      #elearning .lesson .block-filter .block-right .switch .toggle {
        position: relative;
        display: block;
        width: 42px;
        height: 24px;
        cursor: pointer;
        -webkit-tap-highlight-color: transparent;
        transform: translate3d(0, 0, 0); }
        #elearning .lesson .block-filter .block-right .switch .toggle:before {
          content: "";
          position: relative;
          top: 1px;
          left: 1px;
          width: 40px;
          height: 22px;
          display: block;
          background: #C8CCD4;
          border-radius: 12px;
          transition: background .2s ease; }
        #elearning .lesson .block-filter .block-right .switch .toggle span {
          position: absolute;
          top: 0;
          left: 0;
          width: 24px;
          height: 24px;
          display: block;
          background: white;
          border-radius: 50%;
          box-shadow: 0 2px 6px rgba(154, 153, 153, 0.75);
          transition: all .2s ease; }
      #elearning .lesson .block-filter .block-right .switch #cbx {
        display: none; }
      #elearning .lesson .block-filter .block-right .switch #cbx:checked + .toggle:before {
        background: #cc0c13; }
      #elearning .lesson .block-filter .block-right .switch #cbx:checked + .toggle span {
        transform: translateX(18px); }
  #elearning .lesson .block-data-filter .content-detail {
    position: relative;
    margin: 15px 0;
    border-radius: 5px;
    background: #FFF;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.1);
    border: 1px solid #eeeeee;
    overflow: hidden;
    padding-top: 1.5rem;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-bottom: 1.5rem; }
    #elearning .lesson .block-data-filter .content-detail h3 {
      font-size: 2.25rem;
      line-height: 2.25rem; }
    #elearning .lesson .block-data-filter .content-detail h5 {
      font-size: 1.375rem;
      line-height: 1.375rem; }
    #elearning .lesson .block-data-filter .content-detail img {
      max-width: 80%;
      margin: auto; }
    #elearning .lesson .block-data-filter .content-detail .content-lock {
      display: none;
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0; }
    #elearning .lesson .block-data-filter .content-detail.lock .content-lock {
      display: block; }
    #elearning .lesson .block-data-filter .content-detail.lock.yellow .content-lock {
      background-color: #faba19e3; }
    #elearning .lesson .block-data-filter .content-detail.lock.blue .content-lock {
      background-color: #71d1f6e3; }
    #elearning .lesson .block-data-filter .content-detail.lock.red .content-lock {
      background-color: #ee3239e3; }
    #elearning .lesson .block-data-filter .content-detail.lock.green .content-lock {
      background-color: #8ec438e3; }
