.ads{
    padding: 2rem 0;
    background-color: #cc0c13;
    position: relative;
    h1{
        color: #FFF;
    }
    p{
        color: #FFF;
        font-family: 'DBHeavent-Med';
        font-size: 1.3rem;
    }
    .container{
        position: relative;
        z-index: 1;
    }
    .bg-design{
        position: absolute;
        top: 0;
        width: 30%;
        max-width: 372px;
        height: 100%;
        &.bg-1{
            left: 0;
            background: {
                image: url('../images/taste/bg-1.jpg');
                position: left center;
                size: contain;
                repeat: no-repeat;
            }
        }
        &.bg-2{
            right: 0;
            background: {
                image: url('../images/taste/bg-2.jpg');
                position: right center;
                size: contain;
                repeat: no-repeat;
            }
        }
        @include media-breakpoint-down(sm) {
            width: 50%;
        }
    }
    .btn-full-white{
        background: #FFF;
        color: #cc0c13;
        font-size: 1.6rem;
        font-family: 'DBHeavent-Med';
        img{
            width: 80px;
            padding-left: 10px;
            @include media-breakpoint-down(md) {
                width: 50px;
                padding-left: 5px;
            }
            @include media-breakpoint-down(sm) {
                width: 80px;
                padding-left: 10px;
            }
        }
    }
    img{
        &.image{
            margin: 0 2rem;
            @include media-breakpoint-down(md) {
                margin: 0 0.5rem;
            }
            @media (max-width: 767px) {
                &.image-1{
                    margin: auto;
                    margin-bottom: 1rem;
                }
                &.image-2{
                   display: none!important;
                }
            }
        }
    }
}