#contact{
    overflow: hidden;
    font-size: 1.375rem;
    h1, h2, h3, h4, h5, h6 {font-family: 'DBHeavent-Med';}
    h1{
        font-size: 2.625rem;
        @include media-breakpoint-down(sm) {
            font-size: 2.2rem;
        }
    }
    .data-contact{
        background-color: #c5e8fb;
        position: relative;
        a{
            color: #212529;
        }
        .btn {font-size: 1.375rem;line-height: 1.375rem;}
        .btn-full-red, .btn-full-black{
            color: #FFF;
            padding: 0.5rem 2rem;
        }
        .wrap-data-contact {
            position: relative;
            z-index: 1;
        }
        .bg-data-contact{
            position: absolute;
            bottom: 0;
            right: -15%;
            width: 50%;
            height: 100%;
            background: {
                image: url('../images/contact/boy.png');
                position: right bottom;
                repeat: no-repeat;
                size: contain;
            }
            @include media-breakpoint-down(sm) {
                right: -10%;
            }
        }
        .bg-design{
            position: absolute;
            top: 0;
            width: 30%;
            max-width: 240px;
            height: 100%;
            &.bg-1{
                left: 0;
                background: {
                    image: url('../images/contact/cloude-1.png');
                    position: left center;
                    size: contain;
                    repeat: no-repeat;
                }
            }
            &.bg-2{
                right: 0;
                background: {
                    image: url('../images/contact/cloude-2.png');
                    position: right 10%;
                    size: contain;
                    repeat: no-repeat;
                }
            }
            @include media-breakpoint-down(sm) {
                width: 50%;
            }
        }
    }
    .data-form{
        .form-control{
            font-size: 1.375rem;
            border-radius: 1px;
            border: 1px solid #eeeeee;
        }
        .btn.btn-full-red{
            font-size: 2rem;
            font-family: 'DBHeavent-Med';
            padding: 0.5rem 7.4rem;
            &:hover{
                color: #FFF;
            }
            @include media-breakpoint-down(xs) {
                width: 100%;
            }
        }
        @include media-breakpoint-down(sm) {
            #rc-imageselect, .g-recaptcha {transform:scale(0.95);-webkit-transform:scale(0.95);transform-origin:0 0;-webkit-transform-origin:0 0;}
        }
    }
}