#elearning{
    float: left;
    width: 100%;
    overflow: hidden;
    font-size: 1.375rem;
    h1, h2, h3, h4, h5, h6 {font-family: 'DBHeavent-Med';}
    h3 {margin: 0; }
    h1{
        font-size: 3.5rem;
        margin-bottom: 0;
        @include media-breakpoint-down(md) {
            font-size: 2.2rem;
        }
    }
    p {font-size: 1.375rem;line-height: 1.375rem;margin: 0;}
    .text-header span{
        top: 22px;
        @include media-breakpoint-down(md) {
            top: 10px;
        }
    }
    .btn {font-size: 1.375rem;line-height: 1.375rem;}
    .font-icon {font-size: 1rem;}
    .btn-read-more{
        position: relative;
        i{
            position: absolute;
            top: 5px;
            right: 10px;
        }
    }
    .slick-dots{
        li {
            width: 1.5rem;
            height: 1.5rem;
            margin: 5px 0;
        }
        button {
            display: block;
            width: 1.5rem;
            height: 1.5rem;
            padding: 0;
            border-radius: 100%;
            background: {
                image: url('../images/home/slide-dot.png');
                position-x: -30px;
                repeat: no-repeat;
            }
            text-indent: -9999px;
        }
    
        li.slick-active button {
            background-position-x: 0;
        }
    }
    .banner{
        background-color: #ff8084;
        h1, p{color: #FFF;}
        p{
            font-family: 'DBHeavent-Light';
            font-size: 2rem;
            line-height: 2rem;
            max-width: 500px;
            margin: 0;
            @include media-breakpoint-down(md) {
                font-size: 1.375rem;
            }
        }
        .img{
            @include media-breakpoint-down(md) {
                padding-top: 10px;
            }
            @include media-breakpoint-down(sm) {
                padding-top: 50px;
            }
            @include media-breakpoint-down(xs) {
                padding-top: 30px;
            }
        }
    }
    .activity{
        padding: 2rem 0;
        background: #f8f8f8;
        .block-activity{
            .slick-slide {
                height: auto;
            }
            .slick-track {
                display: flex;
                flex-direction: row;
                flex-wrap: nowrap;
                align-items: stretch;
            }
            .activity-content{
                box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.1);
                background: #FFF;
                padding: 1rem;
                margin: 0 10px;
                margin-bottom: 20px;
                border-radius: 5px;
                h3{
                    font-size: 2.25rem;
                    line-height: 2.25rem;
                }
                h5{
                    font-size: 1.375rem;
                    margin-bottom: 0;
                }
                span{
                    color: #999999;
                    font-size: 1.375rem;
                }
                .btn {
                    color: #FFF;
                }
                .hashtag{
                    position: relative;
                    .interest{
                        &.active{
                            background-color: #ec1c23;
                        }
                    }
                }
            }
        }
    }
    .lesson{
        .remark{
            font-size: 1.375rem;
            margin-left: 1rem;
            display: inline-block;
        }
        .block-filter{
            .block-left{
                float: left;
                .btn-filter{
                    background: transparent;
                    border: 1px solid transparent;
                    color: #000;
                    padding: 0.5rem 1.5rem;
                    margin-right: 10px;
                    margin-bottom: 10px;
                    i{
                        display: none;
                    }
                    &.active{
                        border: 1px solid #000;
                        i{
                            display: inline-block;
                        }
                    }
                }
            }
            .block-right{
                float: right;
                .switch{
                    position: relative;
                    margin-top: 5px;
                    .toggle{
                        position: relative;
                        display: block;
                        width: 42px;
                        height: 24px;
                        cursor: pointer;
                        -webkit-tap-highlight-color: transparent;
                        transform: translate3d(0,0,0);
                        &:before{
                            content: "";
                            position: relative;
                            top: 1px;
                            left: 1px;
                            width: 40px;
                            height: 22px;
                            display: block;
                            background: #C8CCD4;
                            border-radius: 12px;
                            transition: background .2s ease;
                        }
                        span{
                            position: absolute;
                            top: 0;
                            left: 0;
                            width: 24px;
                            height: 24px;
                            display: block;
                            background: white;
                            border-radius: 50%;
                            box-shadow: 0 2px 6px rgba(#9A9999,.75);
                            transition: all .2s ease;
                        }
                    }
                    #cbx{
                        display: none;
                    }
                    #cbx:checked + .toggle{
                        &:before{
                            background: #cc0c13;
                        }
                        span{
                            transform: translateX(18px);
                        }
                    }
                }
            }
        }
        .block-data-filter{
            .content-detail{
                position: relative;
                margin: 15px 0;
                border-radius: 5px; 
                background: #FFF;
                box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.1);
                border: 1px solid #eeeeee;
                overflow: hidden;
                padding: {
                    top: 1.5rem;
                    left: 2rem;
                    right: 2rem;
                    bottom: 1.5rem;
                }
                h3{
                    font-size: 2.25rem;
                    line-height: 2.25rem;
                }
                h5{
                    font-size: 1.375rem;
                    line-height: 1.375rem;
                }
                img{
                    max-width: 80%;
                    margin: auto;
                }
                .content-lock{
                    display: none;
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    top: 0;
                    left: 0;
                }
                &.lock{
                    .content-lock{
                        display: block;
                    }
                    &.yellow{
                        .content-lock{
                            background-color: #faba19e3;
                        }
                    }
                    &.blue{
                        .content-lock{
                            background-color: #71d1f6e3;
                        }
                    }
                    &.red{
                        .content-lock{
                            background-color: #ee3239e3;
                        }
                    }
                    &.green{
                        .content-lock{
                            background-color: #8ec438e3;
                        }
                    }
                }
            }
            
        }
    }
}