/* DBHeavent */
@font-face {
    font-family: 'DBHeavent';
    src: url('../fonts/DBHeavent/DBHeavent.eot');
    src: url('../fonts/DBHeavent/DBHeavent.eot?#iefix') format('embedded-opentype'),
         url('../fonts/DBHeavent/DBHeavent.woff') format('woff'),
         url('../fonts/DBHeavent/DBHeavent.ttf') format('truetype'),
         url('../fonts/DBHeavent/DBHeavent.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}
/* DBHeavent-Med */
@font-face {
    font-family: 'DBHeavent-Med';
    src: url('../fonts/DBHeavent/DBHeavent-Med.eot');
    src: url('../fonts/DBHeavent/DBHeavent-Med.eot?#iefix') format('embedded-opentype'),
         url('../fonts/DBHeavent/DBHeavent-Med.woff') format('woff'),
         url('../fonts/DBHeavent/DBHeavent-Med.ttf') format('truetype'),
         url('../fonts/DBHeavent/DBHeavent-Med.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}
/* DBHeaventt-Light */
@font-face {
    font-family: 'DBHeavent-Light';
    src: url('../fonts/DBHeavent/DBHeaventt-Light.eot');
    src: url('../fonts/DBHeavent/DBHeaventt-Light.eot?#iefix') format('embedded-opentype'),
         url('../fonts/DBHeavent/DBHeaventt-Light.woff') format('woff'),
         url('../fonts/DBHeavent/DBHeaventt-Light.ttf') format('truetype'),
         url('../fonts/DBHeavent/DBHeaventt-Light.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

/* DBHelvethaicaX-Reg */
@font-face {
    font-family: 'DBHelvethaicaX-Reg';
    src: url('../fonts/DBHelvethaicaX/DBHelvethaicaX-Reg.eot?#iefix') format('embedded-opentype'),  url('../fonts/DBHelvethaicaX/DBHelvethaicaX-Reg.woff') format('woff'), url('../fonts/DBHelvethaicaX/DBHelvethaicaX-Reg.ttf')  format('truetype'), url('../fonts/DBHelvethaicaX/DBHelvethaicaX-Reg.svg#DBHelvethaicaX-Reg') format('svg');
    font-weight: normal;
    font-style: normal;
}
/* DBHelvethaicaX-Bd */
@font-face {
    font-family: 'DBHelvethaicaX-Bd';
    src: url('../fonts/DBHelvethaicaX/DBHelvethaicaX-Bd.eot?#iefix') format('embedded-opentype'),  url('../fonts/DBHelvethaicaX/DBHelvethaicaX-Bd.woff') format('woff'), url('../fonts/DBHelvethaicaX/DBHelvethaicaX-Bd.ttf')  format('truetype'), url('../fonts/DBHelvethaicaX/DBHelvethaicaX-Bd.svg#DBHelvethaicaX-Bd') format('svg');
    font-weight: normal;
    font-style: normal;
}
/* DBHelvethaicaX-Med */
@font-face {
    font-family: 'DBHelvethaicaX-Med';
    src: url('../fonts/DBHelvethaicaX/DBHelvethaicaX-Med.eot?#iefix') format('embedded-opentype'),  url('../fonts/DBHelvethaicaX/DBHelvethaicaX-Med.woff') format('woff'), url('../fonts/DBHelvethaicaX/DBHelvethaicaX-Med.ttf')  format('truetype'), url('../fonts/DBHelvethaicaX/DBHelvethaicaX-Med.svg#DBHelvethaicaX-Med') format('svg');
    font-weight: normal;
    font-style: normal;
}

.font-reg{
    font-family: 'DBHelvethaicaX-Reg';
}
.font-reg-med{
    font-family: 'DBHelvethaicaX-Med';
}
.font-reg-bd{
    font-family: 'DBHelvethaicaX-Bd';
}
  
/*# sourceMappingURL=fonts.css.map */