footer{
    width: 100%;
    float: left;
    .nav-bg-color{
        height: 4px;
        width: 100%;
        background: linear-gradient(to right, #ec1c23 25%, #f9b200 25% 50%, #82be22 50% 75%, #60ccf5 75%);
    }
    p {font-size: 1.3rem;line-height: 1.3rem;margin: 0;}
    .footer{
        background-color: #f8f8f8;
        padding: 30px 0;
        .btn {font-size: 1.3rem;line-height: 1.3rem;}
        .about{
            .logo{
                padding: {
                    top: 10px;
                    bottom: 25px;
                }
                float: left;
                width: 100%;
            }
        }
        .list-link{
            li:first-child{
                font-size: 1.3rem;
                font: {
                    family: 'DBHeavent-Med';
                    weight: bold;
                }
            }
            li{
                padding: 0.5rem 0;
                a{
                    color: #333333;
                    font-size: 1.3rem;
                }
            }
        }
        .list-social{
            margin-top: 5px;
            position: relative;
            li:first-child{
                font-size: 1.3rem;
                margin-bottom: 15px;
                font: {
                    family: 'DBHeavent-Med';
                    weight: bold;
                }
            }
            .btn-up{
                position: absolute;
                bottom: 0;
                &.btn-frame-gray{
                    border: 1px solid #999999;
                    border-radius: 5px;
                    color: #999999;
                    padding: 0.5rem 2rem;
                }
                @include media-breakpoint-down(lg) { 
                    right: 0;
                }
                @include media-breakpoint-down(md) { 
                    position: relative;
                }
            }
        } 
    }
    .footer-bottom{
        font-family: 'DBHeavent';
        font-size: 1.3rem;
        background-color: #ed1c24;
        padding: 25px 0;
        color: #fff;
        span{
            margin: 0 10px;
        }
        a{
            color: #FFF;
        }
        .copy-right {
            text-align: right;
        }
        @include media-breakpoint-down(md) { 
            .terms {
                text-align: center;
            }
            .copy-right {
                text-align: center;
            }
        }
    }
}