#home{
    width: 100%;
    float: left;
    .btn {font-size: 1.3rem;line-height: 1.3rem;}
    .btn-read-more{
        position: relative;
        i{
            position: absolute;
            top: 5px;
            right: 10px;
        }
    }
    .link-see-more{
        color: #a7a7a7;
        font-size: 1.3rem;
        text-decoration: underline;
    }
    /* text */
    h1, h2, h3, h4, h5, h6 {font-family: 'DBHeavent-Med';}
    p {font-size: 1.3rem;line-height: 1.3rem;margin: 0;}
    h3 {margin: 0; }
    h5 {
        font-size: 1.3rem;
        margin: 0;
    }
    .font-icon {font-size: 1rem;}

    .slick-dots{
        li {
            width: 1.5rem;
            height: 1.5rem;
            margin: 5px 0;
        }
        button {
            display: block;
            width: 1.5rem;
            height: 1.5rem;
            padding: 0;
            border-radius: 100%;
            background: {
                image: url('../images/home/slide-dot.png');
                position-x: -30px;
                repeat: no-repeat;
            }
            text-indent: -9999px;
        }
    
        li.slick-active button {
            background-position-x: 0;
        }
    }
    .banner{
        .slick-dotted.slick-slider{
            margin-bottom: 0;
        }
        .slick-dots{
            width: auto;
            bottom: 0;
            li {
                width: 1.5rem;
                height: 1.5rem;
                margin: 5px 0;
            }
            button {
                display: block;
                width: 1.5rem;
                height: 1.5rem;
                padding: 0;
                border-radius: 100%;
                background: {
                    image: url('../images/home/slide-dot.png');
                    position-x: -30px;
                    repeat: no-repeat;
                }
                text-indent: -9999px;
            }
        
            li.slick-active button {
                background-position-x: 0;
            }
        }
    }
    .activity{
        padding: 2rem 0;
        background: #f8f8f8;
        .block-activity{
            .slick-slide {
                height: auto;
            }
            .slick-track {
                display: flex;
                flex-direction: row;
                flex-wrap: nowrap;
                align-items: stretch;
            }
            .activity-content{
                box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
                background: #FFF;
                padding: 1rem;
                margin: 0 10px;
                margin-bottom: 20px;
                border-radius: 5px;
                span{
                    color: #999999;
                    font-size: 1.3rem;
                }
                .hashtag{
                    position: relative;
                    .interest{
                        &.active{
                            background-color: #ec1c23;
                        }
                    }
                }
            }
        }
    }
    .course{
        background: url(../images/home/course/bg.jpg) no-repeat center;
        background-size: cover;
        padding: 3rem 0;
        overflow: hidden;
        .select-white{
            font-size: 1.3rem;
        }
        .wrap-filter{
            .select-area{
                width: 60%;
                display: inline-block;
                @include media-breakpoint-up(sm) {
                    height: 100%;
                }
                @include media-breakpoint-down(sm) {
                    width: 100%;
                    margin-bottom: 1rem;
                }
                i{
                    z-index: 2;
                    font-size: 1.3rem;
                }
                .select{
                    padding: 0 0.5rem;
                    width: 100%;
                    height: 100%;
                    font-size: 1.3rem;
                    border-radius: 0.25rem;
                }
            }
            .btn-full-red{
                padding: 0.375rem 1.5rem;
                margin-right: 5px;
                margin-left: 10px;
                @include media-breakpoint-up(sm) {
                    height: 100%;
                    margin-top: -5px;
                }
            }
            @include media-breakpoint-up(sm) {
                .btn-full-gray{
                    height: 100%;
                    margin-top: -5px;
                }
            }
        }
        .block-course{
            .content-detail{
                position: relative;
                margin: 30px 10px 0 10px;
                border-radius: 5px; 
                background: #FFF;
                box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
                //transition: all 0.5s ease-in-out;
                
                padding: {
                    top: 1.5rem;
                    left: 2rem;
                    right: 2rem;
                    bottom: 1.5rem;
                }
                overflow: hidden;
                img{
                    max-width: 80%;
                    margin: auto;
                }
                &.slick-current.slick-active{
                    @media (min-width: 818px) {
                        padding-bottom: 4rem;
                        margin-top: 10px;
                        margin-bottom: 10px;
                    }
                }
                .content-lock{
                    background: #faba19e3;
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    top: 0;
                    left: 0;
                }
            }
            .slick-next {
                width: 37px;
                height: 58px;
                right: -40px;
                z-index: 1;
                &:before{
                    content: '';
                }
                background: url('../images/home/course/arrow-next.png');
                @include media-breakpoint-down(sm) {
                    right: -30px;
                }
            }
            .slick-prev {
                width: 37px;
                height: 58px;
                left: -40px;
                z-index: 1;
                &:before{
                    content: '';
                }
                background: url('../images/home/course/arrow-prev.png');
                @include media-breakpoint-down(sm) {
                    left: -30px;
                }
            }
        }
    }
    .game{
        padding: 2rem 0;
        .game-link{
            background-size: cover;
            padding: 2rem 0;
            @include media-breakpoint-down(md) {
                flex-wrap: wrap;
            }
            h3{
                color: #FFF;
                font-family: 'DBHeavent-Med';
                padding: 1rem;
                @include media-breakpoint-down(md) {
                    width: 100%;
                    text-align: center;
                }
            }
            &.game-1{
                background: {
                    image: url('../images/home/game/bg-game-1.jpg');
                    repeat:  no-repeat;
                    position: center;
                }
            }
            &.game-2{
                background: {
                    image: url('../images/home/game/bg-game-2.jpg');
                    repeat:  no-repeat;
                    position: center;
                }
            }
        }
    }
    .recipe{
        background: #f8f8f8;
        padding: 3rem 0;
        .block-recipe{
            .slick-slide {
                height: auto;
            }
            .slick-track {
                display: flex;
                flex-direction: row;
                flex-wrap: nowrap;
                align-items: stretch;
            }
            .content-recipe{
                margin: 0 10px 20px 10px;
                h3{
                    @include media-breakpoint-down(lg) {
                        height: 30px;
                        overflow: hidden;
                    }
                }
                .image-content{
                    padding: 3px;
                    background: #FFF;
                    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
                    img{
                        width: 100%;
                    }
                }
                .share-content{
                    padding: 0.5rem 0;
                    border-top: 1px solid #e8e8e8;
                    border-bottom: 1px solid #e8e8e8;
                    span{
                        color: #888888;
                        font-size: 1.3rem;
                    }
                    img{
                        display: inline-block;
                        margin: 0 0.5rem;
                    }
                    .btn{
                        display: flex;
                        padding: 0;
                        .no-active{
                            display: block;
                        }
                        .active{
                            display: none;
                        }
                        &.active{
                            .no-active{
                                display: none;
                            }
                            .active{
                                display: block;
                            }
                        }
                    }
                }
            }
        }
    }
    .gallery{
        padding: 2rem 0;
        .content-gallery{
            position: relative;
            .fade-bg{
                position: absolute;
                top: 0;
                background: rgba(0, 0, 0, 0.5);
                width: 100%;
                height: 100%;
            }
            img{
                width: 100%;
                @include media-breakpoint-down(sm) {
                    width: auto;
                    height: 100%;;
                }
            }
            .detail-content{
                position: absolute;
                bottom: 0;
                width: 100%;
                background-image: linear-gradient(transparent , black 90%);
                padding: 2rem;
                color: #FFF;
            }
            &.slick-current.slick-active{
                .fade-bg{
                    background: transparent;
                }
            }
        }
    }
}