body {
    font: {
        size: 10px;
        family: 'DBHeavent';
    }
    position: relative;
    background: #FFF;
}

.bg-light-gray {
    background: #eeeeee;
}

.float-full-width{
    width: 100%;
    float: left;
}

.mx-md-100 {
    @include media-breakpoint-down(md) {
        max-width: 100%;
    }
}

// Select
.select-area{
    position: relative;
    i{
        position: absolute;
        right: 10px;
        top: 8px;
    }
    .select{
        position: relative;
        z-index: 1;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
    }
    .select-no-frame{
        border: none;
        background: transparent;
        color: #999;
        padding-right: 2.2rem;
    }
    .select-white{
        border: none;
        background: #FFF;
        color: #000;
    }
}

// Breadcrumb
.wrap-breadcrumb{
	ul.breadcrumb {
        padding: 20px 0px 10px 0px;
        list-style: none;
        margin: 0;
        background-color: transparent;
	}

	ul.breadcrumb li {
        font-family: $font-reg;
        display: inline;
        font-size: 1.125rem;
        color: #a2a2a2;
	}

	ul.breadcrumb li+li:before {
        padding: 8px;
        color: #a2a2a2;
        content: "/\00a0";
	}

	ul.breadcrumb li a {
        color: #a2a2a2;
        text-decoration: none;
	}

	ul.breadcrumb li a:hover {
        color: #a2a2a2;
        text-decoration: underline;
	}
}

// text-header
.text-header{
    position: relative;
    display:inline-block;
    h1{
        padding-left: 15px;
    }
    span{
        height: 25px;
        width: 7px;
        background: #ec1c23;
        position: absolute;
        top: 10px;
        left: 0;
        border: {
            bottom-left-radius: 10px;
            bottom-right-radius: 10px;
            top-left-radius: 10px;
            top-right-radius: 10px; 
        }
    }
}

/* button */
.btn-full-pink{
    background: #ff8084;
    border: 1px solid #ff8084;
    color: #FFF;
}
.btn-full-red{
    background: #ec1c23;
    border: 1px solid #ec1c23;
    color: #FFF;
}
.btn-full-gray{
    background: #999999;
    border: 1px solid #999999;
    color: #FFF;
}
.btn-full-black{
    background: #000;
    border: 1px solid #000;
    color: #FFF;
}

/* pagination */
.paginator{
    padding: 2rem 0;
    .arrow{
        color: #dadada;
        &.active{
            color: #000;
        }
    }
    .pagination{
        padding-left: 0;
        list-style: none;
        li{
            margin-right: 1rem;
            a{
                padding: 0.2rem 0.75rem;
                color: #000;
                border-radius: 5px;
                &.active{
                    color: #FFF;
                    background-color: #000;
                }
            }
            &:last-child {
                margin-right: 0;
            }
        }
    }
}
