#nav-menu{
    background: #fff;
    
    .nav-bg-color{
        height: 4px;
        width: 100%;
        background: linear-gradient(to right, #ec1c23 25%, #f9b200 25% 50%, #82be22 50% 75%, #60ccf5 75%);
    }
    .navbar{
        padding: 0;
        border-bottom: 2px solid #eeeeee;
    }
    .navbar-brand{
        margin-right: 2rem;
    }
    .nav-left{
        @include media-breakpoint-up(xl) {
            margin-top: 50px!important;;
        }
        .nav-link{
            color: #000000;
            padding: {
                right: 1.5rem;
                left: 1.5rem;
                bottom: 1rem;
            }
            font: {
                size: 1.3rem;
                family: 'DBHeavent-Med';
            }
        }
        .nav-item.active{
            border-bottom: 3px solid #ec1c23;
        }
    }
    .nav-right{
        padding-bottom: 10px;
        .language{
            .nav-link{
                color: #999999;
                font: {
                    size: 1.3rem;
                    family: 'DBHeavent';
                }
            } 
        }
        .search{
            i{
                color: #bdbdbd;
            }
            ::placeholder{
                color: #bdbdbd;
            }
            .input-group-text{
                border-radius: 0;
                border: 1px solid #eeeeee;
                border-right: 0;
                background: #FFF;
            }
            .form-control{
                border-radius: 0;
                border: 1px solid #eeeeee;
                border-left: 0;
                padding-left: 0;
                font-size: 1.1rem;
            }
        }
        .btn-full-black{
            background-color: #000;
            border: 1px solid #000;
            color: #FFF;
            border-radius: 0;
            font-size: 1.1rem;
        }
    }
    @include media-breakpoint-down(xl) {
        .nav-left {
            margin-top: 20px;
            .nav-link{
                padding-right: 0.5rem;
                padding-left: 0.5rem;
            }
        }
        .nav-right{
            margin-top: 20px;
            .language {
                .nav-link{
                    padding-top: 0;
                    padding-bottom: 0;
                } 
                i{
                    color: #999;
                }
                .login{
                    img{
                        width: 20px;
                    }
                }
            }
        }
        .block-search{
            background: #FFF;
            #nav-search{
                padding: 1rem;
                .search-input{
                    font-size: 1.3rem;
                    border-top-right-radius: 0;
                    border-bottom-right-radius: 0;
                }
                .btn-search {
                    border: 0;
                    border-radius: 0;
                    background-color: transparent;
                    border-top: 1px solid #ccc;
                    border-bottom: 1px solid #ccc;
                    border-right: 1px solid #ccc;
                    color: #888;
                    border-bottom-right-radius: 4px;
                    border-top-right-radius: 4px;
                    padding: {
                        top: 12.5px;
                        bottom: 10px;
                        left: 15px;
                        right: 15px;
                    }
                }
            }
        }
    }
    .mobile-nav{
        position: relative;
        z-index: 1;
        padding: 1rem;
        background: #fff;

        .header{
            .float-right{
                i{
                    color: #999;
                }
                .btn:last-child{
                    padding-right: 0;
                }
                @media (max-width: 426px) {
                    img{
                        width: 25px;
                    }
                }
                @media (max-width: 374px) {
                    .btn{
                        padding: 0.375rem 10px;
                    }
                    img{
                        width: 20px;
                    }
                }
            }
        }
        @include media-breakpoint-down(sm) {
            .navbar-brand{
                margin-right: 0;
            }
        }
    }
}

#menu-mobile{
    font-size: 1.3rem;
    color: #FFF;
    ul{
        li{
            a{
                font-size: 1.3rem;
                color: #FFF;
            }
        }
    }
    .nav-language{
        .btn{
            padding: 0 0.5rem;
        }
        .active{
            border: 1px solid #fff;
        }
        .float-right{
            padding: 10px 20px 10px 10px;
        }
    }
    .padding-style{
        padding-top: 15px;
    }
    .mm-panel , .mm-navbar, .mm-listview{
        background: #ec1c23;
    }
    .mm-listitem:after{
        left: 0;
        border-color: #FFF;
    }
}