#profile {
	font-size: 120%;
	font-family: $font_reg;
}
.ctn-content{
	background: #fff;
	border-radius: 6px;
}
.ct-ctrl{
	margin-bottom:50px;
	h2{
		font-family: $font_med;
		font-size: 3em;
		margin-bottom: 20px;
	}
}
.ic-profile{
	background-image: url('../images/profile/icon_profile.png');
	background-repeat:no-repeat;
}
.bx-btn{
	button{
		font-family: $font_med;
		border: 0;
		border-radius: 6px;
		width: 100%;
		font-size: 1.8em;
		padding: 10px;
		cursor: pointer;
	}
}
.ct-profile{
	.bx-name{
		position: relative;
		&:before{
			content: "";
			position: absolute;
			height: 100%;
			width: 10px;
			border-radius: 6px;
			background: $cl_red;
		}
		div{
			padding-left: 24px;
		}
		.lb-profile{
			font-size: 2.167em;
			font-family: $font_bld;
			line-height: 1;
		}
		.lb-name{
			font-size: 1.834em;
			font-family: $font_med;
			line-height: 1;
		}
	}
	.lb-lg{
		font-size: 1.5em;
		line-height: 1;
	}
	.line{
		margin-top: 20px;
		margin-bottom: 20px;
		border-bottom: 1px solid #dddddd;
	}
	.bx-btn{
		margin-top: 10px;
		button{
			color: #FFF;
			background: #000;
			max-width: 290px;
		}
	}
}
.ct-stat{
	.ls-stat{
		margin-right: -10px;
		margin-left: -10px;
		.item{
			background: #eeeeee;
			border:none;
			border-radius: 	0;
			margin-left: 10px;
			margin-right: 10px;
		}
		.lb-stat{
			font-size: 2.55em;
			font-family: $font_reg;
			line-height: 1;
		}
		.bx-point{
			background: #dddddd;
			width: 100%;
			height: 117px;
			display: table;
			.td{
				display: table-cell;
			}
			.col{
				width: 50%;
				position: relative;
				&:nth-child(2){
					&:before{
						position:absolute;
						height: 60px;
						content: "";
						background: #FFF;
						width: 2px;
						left: 0;
						top: 50%;
						margin-left: -1px;
						margin-top: -30px;
					}
				}
			}
		}
		.lb-point{
			font-size: 4.6em;
			font-family: $font_bld;
			line-height: 0.8;
		}
		.lb-point2{
			font-size: 3.6em;
			font-family: $font_bld;
			line-height: 0.8;
		}
		.lb-unit{
			font-size: 2.55em;
			font-family: $font_med;
			line-height: 1;
		}
		.card-footer{
			padding: 0;
			border-radius: 	0;
			border:0;
		}
	}
	.ic-stat-1{
		background-position: 0 0;
		width: 97px;
		height: 100px;
	}
	.ic-stat-2{
		background-position: 0 -126px;
		width: 97px;
		height: 100px;
	}
}
.ic-sticker{
	background-size: 100px auto;
	width: 100px;
	height: 100px;
}
.ic-sticker-1{
	background-position: 0 -170px;
}
.ic-sticker-2{
	background-position: 0 -296px;
}
.ic-sticker-3{
	background-position: 0 -415px;
}
.ic-sticker-4{
	background-position: 0 -536px;
}
.ic-sticker-5{
	background-position: 0 -656px;
}
.ic-sticker-6{
	background-position: 0 -776px;
}
.ic-sticker-7{
	background-position: 0 -896px;
}
.ic-sticker-8{
	background-position: 0 -1016px;
}
.ic-sticker-9{
	background-position: 0 -1136px;
}
.ic-sticker-10{
	background-position: 0 -1256px;
}
.ct-sticker{
	.ls-sticker{
		border:1px solid #dddddd;
		border-radius: 6px;
		.lb-sticker{
			font-size: 2.2em;
			line-height: 1;
		}
	}
	.item{
		.ic-sticker{
			-webkit-filter: grayscale(100%);
  			filter: grayscale(100%);
		}
		&.active{
			.ic-sticker{
				filter: grayscale(0);
				-webkit-filter: grayscale(0);
			}
		}
	}
}
$wishlist_shadow: 3px 3px 3px rgba(0,0,0,.1);
.ct-wishlist{
	.ls-wishlist{
		.ls-wishlist-inn{
			margin-left: -10px;
			margin-right: -10px;
		}
		.item{
			padding-top: 30px;
			margin-left: 10px;
			margin-right:10px;
			-webkit-box-shadow: $wishlist_shadow;
		     --moz-box-shadow: $wishlist_shadow;
		          box-shadow: $wishlist_shadow;
		}
		.lb-wishlist{
			font-size: 3em;
			font-family: $font_bld;
			line-height: 1;
		}
		.lb-wishlist2{
			font-size: 1.8em;
			font-family: $font_bld;
			line-height: 1;
		}
		.dt{
			font-size: 1.8em;
			font-family: $font_reg;
			line-height: 1;
		}
		.btn-delete{
			position: absolute;
			right: 5px;
			top: 5px;
			border: 0;
			background: transparent;
			font-size: 20px;
			outline: none;
			cursor: pointer;
			padding: 0 10px;
			i{
				color: #cccccc;

			}
		}
		.bx-btn{
			button{
				color: #FFF;
				max-width: 270px;
				background: $cl_red;
				i{
					font-size: 15px;
					padding-left: 5px;
				}
			}
		}
	}
}
.content-umami{
	background: $cl_red;
	position: 	relative;	
	.ctn-umami{
		position: relative;	
	}
	.lb-umami{
		font-size: 4.6em;
		font-family: $font_med;
		color: 	#FFF;
		line-height: 1;
	}
	.lb-umami-1{
		font-size: 3em;
		line-height: 1;
		color: 	#FFF;
	}
	.bx-btn{
		button{
			max-width: 	340px;
			color: $cl_red;
			font-size: 	2.55em;
		}
	}
	.bg-umami{
		background-image: url('../images/profile/bg-umami.png');
		background-repeat: no-repeat;
		&.bg-1{
			width: 200px;
			height: 87px;
		}
		&.bg-2{
			margin-top: 14px;
			width: 200px;
			height: 68px;
			background-position:0 -104px;
		}
	}
	.bg-ovl-umami{
		background-image: url('../images/profile/bg-ovl-umami.png');
		background-repeat: no-repeat;
		&.bg-1{
			width: 30%;
			position: absolute;	
			background-position: right center;
			left: 	0;
			height: 100%;
		}
		&.bg-2{
			width: 19%;
			height: 100%;
			right: 	0;
			position: absolute;	
			background-position: left center;
		}
	}
}

@media (max-width: 575px) {
	.ct-ctrl{
		margin-bottom: 30px;
	}
	.ct-stat{
		.ls-stat{
			.bx-point{
				table{
					height: auto;
				}
				td{
					padding:15px;
				}
			}
		}
	}
	.ct-wishlist .ls-wishlist .item{
		margin-bottom: 15px;
	}
	.content-umami .bg-ovl-umami.bg-1{
		background-position: right 80px;
		background-size:300px;
		width: 40%;
	}
	.content-umami .bg-ovl-umami.bg-2{
		background-position: left 120px;
		background-size:300px;
		width: 25%;
	}
}
@media (max-width: 991px) {
	.ctn-content{
		padding: 15px;
	}
	.ct-stat,.ct-sticker,.ct-wishlist,.ctn-umami{
		font-size: 	0.8em;
	}
}
@media (min-width: 992px) {
	.ctn-content{
		padding: 30px;
	}
	.ct-sticker{
		.ls-sticker{
			padding:15px 35px;
		}
		.ic-sticker{
			background-size: 150px auto;
			max-width: 150px;
			width: 150px;
			height: 150px;
		}
		.ic-sticker-1{
			background-position: 0 -255px;
		}
		.ic-sticker-2{
			background-position: 0 -443px;
		}
		.ic-sticker-3{
			background-position: 0 -623px;
		}
		.ic-sticker-4{
			background-position: 0 -803px;
		}
		.ic-sticker-5{
			background-position: 0 -982px;
		}
		.ic-sticker-6{
			background-position: 0 -1163px;
		}
		.ic-sticker-7{
			background-position: 0 -1343px;
		}
		.ic-sticker-8{
			background-position: 0 -1523px;
		}
		.ic-sticker-9{
			background-position: 0 -1703px;
		}
		.ic-sticker-10{
			background-position: 0 -1883px;
		}
	}
}
@media (min-width: 1145px) {
	.ct-sticker{
		.ls-sticker{
			.item{
				-webkit-box-flex: 0;
				-ms-flex: 0 0 25%;
				flex: 0 0 25%;
				max-width: 25%;
				text-align: center;
			}
		}
	}
}
@media (min-width: 1400px) {
	.ct-sticker{
		.ls-sticker{
			.item{
				-webkit-box-flex: 0;
				-ms-flex: 0 0 20%;
				flex: 0 0 20%;
				max-width: 20%;
				text-align: center;
			}
		}
	}
}