@font-face {
    font-family: 'Logo';
    src: url('OfficinaSansStd-Bold.eot');
    src: url('OfficinaSansStd-Bold.eot?#iefix') format('embedded-opentype'),
        url('OfficinaSansStd-Bold.woff2') format('woff2'),
        url('OfficinaSansStd-Bold.woff') format('woff'),
        url('OfficinaSansStd-Bold.ttf') format('truetype'),
        url('OfficinaSansStd-Bold.svg#OfficinaSansStd-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
}

