
// Base
body, html {
    background-color: #fff;
    font-size: 10px;
    line-height: 1.2;
    font-family: 'NotoSansKR';
    font-style: normal;
    font-weight: 300;
    color: #231F20;
}

// Text
h1 {
    font-weight: 250;
    font-size: 6rem;
    margin-bottom: 60px;
}

h4 {
    font-weight: 250;
    font-size: 2rem;
}

p {
    font-weight: 300;
    font-size: 1.6rem;
    line-height: 1.5;
}

ul {
    display: block;
    list-style-type: none;
    padding-left: 0;
    margin-bottom: 15px;
  
    li {
        font-weight: 400;
        font-size: 1.512rem;
        margin-bottom: 10px;
        
        b {
            vertical-align: 1px;
            padding-right: 5px;
        }
    }
}

hr {
    border-top: thin solid rgba(0,0,0,.4);
    margin-top: 0;
    margin-bottom: 60px;
}

.txt-thin-36 {
    font-weight: 250;
    font-size: 3.6rem;
}

.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
}

// Utils
.pl-14px {
    padding-left: 14px;
}
.pr-24px {
    padding-right: 24px;
}
.mr-36px {
    margin-right: 36px;
}
.mb-36px {
    margin-bottom: 36px;
}
.pt-60px {
    padding-top: 60px;
}
.pt-100px {
    padding-top: 100px;
}

.bg-gray {
    background-color: #939598;
}

a {
    color: #231F20;
    
    &:hover {
        color: #636363;
    }
    &.active, &:active {
        color: #939598;
    }
}

// Socials
.btn-social {
    padding: 0;
    border-width: 0;
    border-radius: 0;
    background-color:transparent;
    margin-right: 36px;
    
    &:last-child {
        margin-right: 0;
    }
}
.btn-instagram {
    width: 19px;
    height: 19px;
    background: url(../images/icon_instagram.png) no-repeat center center/contain;
}
.btn-facebook {
    width: 19px;
    height: 19px;
    background: url(../images/icon_facebook.png) no-repeat center center/contain;
}
.btn-mail {
    width: 26px;
    height: 19px;
    background: url(../images/icon_mail.png) no-repeat center center/contain;
}
.btn-pinterest {
    width: 19px;
    height: 19px;
    background: url(../images/icon_pinterest.png) no-repeat center center/contain;
}

// Header
header {
    height: 100px;
    background-color: #fff;
    padding-top: 50px;
    
    .brand {
        .logo {
            margin-top: 0;
            font-family: 'Logo';
            font-size: 3.1rem;
        }
        .vertical-line{
            border-left: thin solid rgba(0,0,0,.4);
            width: 1px;
            height: 24px;
            margin-top: 6px;
            margin-left: 12px;
            margin-right: 12px;
            padding: 0;
        }
        .tagline {
            margin-top: 3px;
            font-size: 1.2rem;
        }
    }
    
    .navbar {
        margin-top: 9px;
        font-size: 1.6rem;
        padding: 0;
        list-style: none;
        
        .nav-link {
            padding: .5rem 1.2rem;
            
            &:last-child {
                padding-right: 0;
            }
        }
    }
}

// Footer
footer {
    height: 115px;
    background-color: #939598;
    padding-top: 26px;
    
    .copyright {
        font-size: 1.6rem;
    }
}

// Home
#home {
    padding-top: 100px;
    margin-bottom: -60px;
}

// Client
#client {
    padding-top: 120px;
    margin-bottom: -30px;

    .thumbnail {
        cursor: pointer;
        margin-bottom: 30px;
        text-align: center;
        
        .image {
            position: relative;
            background: #fff;
        
            img {
                width: 100%;
            }
        }
    }
}

// Contact
#contact {
    padding-top: 60px;
    margin-bottom: 60px;
    
    .google-map {
        width: 100%;
        height: 640px;
    }
}